<script>
import { RouterLink, RouterView } from 'vue-router';
import Background from './components/Background.vue';

export default {
  name: 'App',
  components: {
    RouterLink,
    RouterView,
    Background
  }
};
</script>

<template>
  <RouterView />
  <Background />
</template>

<style scoped></style>
