<script>
import StarList from '../components/StarList.vue';
import Modal from '../components/Modal.vue';
import StarForm from '../components/StarForm.vue';
import Loader from '../components/Loader.vue';

export default {
  components: {
    StarList,
    Modal,
    StarForm,
    Loader
  },
  data() {
    return {
      stars: [],
      openModal: false,
      starToEdit: null,
      loadingData: false
    };
  },
  async mounted() {
    this.loadingData = true;
    try {
      const stars = await this.$http.get('/stars');
      this.stars = stars.data;
      this.loadingData = false;
    } catch (error) {
      this.$swal({
        icon: 'error',
        title: 'Requête impossible le serveur ne répond pas',
        text: 'La connexion au serveur a échoué'
      });
    }
  },

  methods: {
    async addStar(star) {
      try {
        const res = await this.$http.post('/stars', star);
        this.openModal = false;
        this.stars = [...this.stars, res.data];
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'Oops...',
          text: 'Serveur indisponible'
        });
      }
    },

    async deleteStar(star) {
      try {
        await this.$http.delete(`/stars/${star.id}`);
        this.stars = this.stars.filter((s) => s.id !== star.id);
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'Oops...',
          text: 'Suppression impossible'
        });
      }
    },

    starEdition(star) {
      this.starToEdit = star;
      this.openModal = true;
    },

    async updateStar(star) {
      try {
        const res = await this.$http.put(`/stars/${star.id}`, star);
        this.openModal = false;
        this.stars = this.stars.map((s) => {
          if (s.id === star.id) {
            return res.data;
          }
          return s;
        });
      } catch (e) {
        this.$swal({
          icon: 'error',
          title: 'Oops...',
          text: 'Modification impossible'
        });
      }
    }
  }
};
</script>

<template>
  <main>
    <StarList
      v-if="!loadingData"
      @open-star-form="this.openModal = true"
      @star:edit="starEdition"
      @star:delete="deleteStar"
      @star:caca="updateStar"
      @star:add="addStar"
      :stars="stars"
    />
    <div v-else class="min-h-screen flex items-center justify-center">
      <Loader />
    </div>

    <Modal :show="openModal" @closeModal="(openModal = false), (this.starToEdit = null)">
      <StarForm :star="starToEdit" @star:update="updateStar" @star:add="addStar" />
    </Modal>
  </main>
</template>
