<template>
  <section class="pt-20 pb-10 lg:pt-[120px] lg:pb-20">
    <div class="container mx-auto">
      <div class="flex flex-wrap">
        <div class="w-full px-4">
          <div class="mx-auto mb-[60px] max-w-[510px] text-center">
            <h2 class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[50px]">
              Nos personnalités
            </h2>
            <p class="text-xl">
              Découvrez les personnalités qui ont marqué l'histoire du cinéma et de la télévision.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-center" v-if="!loadingData">
        <star-card v-for="star in stars" :key="star.id" @click="toggleModal(star)" :star="star" />
      </div>
      <Loader v-else class="text-center" />
    </div>
  </section>
  <modal @closeModal="this.modal.show = false" :show="modal.show">
    <star-details :star="modal.data" />
  </modal>
</template>
<script>
import StarCard from '../components/StarCard.vue';
import Modal from '../components/Modal.vue';
import StarDetails from '../components/StarDetails.vue';
import Loader from '../components/Loader.vue';
export default {
  components: { StarCard, Modal, StarDetails, Loader },
  data() {
    return {
      stars: [],
      loadingData: false,
      modal: {
        show: false,
        data: null
      }
    };
  },
  methods: {
    toggleModal(data) {
      this.modal.show = !this.modal.show;
      this.modal.data = data;
    }
  },
  async created() {
    try {
      this.loadingData = true;
      const stars = await this.$http.get('/stars');
      this.stars = stars.data;
      this.loadingData = false;
    } catch (error) {
      this.$swal(
        'Oops...',
        'Impossible de récupérer les personnalités, vérifiez la connexion au serveur',
        'error'
      );
    }
  }
};
</script>
<style lang=""></style>
