<template>
  <div
    class="flex fixed top-0 bottom-0 left-0 right-0 justify-center items-center mx-auto"
    v-if="show"
  >
    <div
      @click="this.$emit('closeModal')"
      class="fixed top-0 bg-black opacity-60 bottom-0 left-0 right-0 z-0"
      v-if="show"
    ></div>

    <div class="modal bg-white z-10 rounded-md relative">
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: ['show', 'showCloseButton']
};
</script>
<style scoped>
.modal {
  overflow-y: auto;
  width: 100%;
  max-height: 70%;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 80%;
    max-height: 80%;
  }
}
</style>
