<template>
  <div @click="$emit('open')" class="w-full px-4 md:w-1/2 xl:w-1/4">
    <div class="mx-auto mb-10 w-full max-w-[350px]">
      <div
        class="relative overflow-hidden rounded-lg hover:scale-105 transition-all duration-150 ease-in-out cursor-pointer"
      >
        <img class="object-cover" :src="star.image" alt="image" />
        <div class="absolute bottom-5 left-0 w-full text-center">
          <div class="relative mx-5 overflow-hidden rounded-lg bg-white py-5 px-3">
            <h3 class="text-dark text-base font-semibold">
              {{ fullname }}
            </h3>
            <div>
              <span class="absolute left-0 bottom-0">
                <svg
                  width="61"
                  height="30"
                  viewBox="0 0 61 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="16" cy="45" r="45" fill="#13C296" fill-opacity="0.11" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    star: {
      type: Object,
      required: true
    }
  },
  computed: {
    fullname() {
      return `${this.star.firstname} ${this.star.lastname}`;
    }
  }
};
</script>
<style lang=""></style>
