<template>
  <div>
    <div class="border-b border-gray-900/10 pb-12 mx-4">
      <h2 class="text-xl font-semibold leading-7 text-gray-900">Ajout d'une personnalité</h2>
      <p class="mt-1 text-md leading-6 text-gray-600">
        Merci de renseigner les informations suivantes :
      </p>

      <form
        @submit.prevent="submitForm"
        class="mt-4 grid grid-cols-1 sm:grid-cols-6 gap-x-6 gap-y-1"
      >
        <div class="sm:col-span-3">
          <label for="firstname" class="block text-md font-medium leading-6 text-gray-900"
            >Firstname</label
          >
          <div class="mt-2">
            <input
              v-model.trim="form.firstname"
              type="text"
              autocomplete="given-name"
              class="block w-full rounded-md border-0 px-2 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="lastname" class="block text-md font-medium leading-6 text-gray-900"
            >Lastname</label
          >
          <div class="mt-2">
            <input
              v-model.trim="form.lastname"
              type="text"
              autocomplete="family-name"
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div class="sm:col-span-3">
          <label for="imageUrl" class="block text-md font-medium leading-6 text-gray-900"
            >Image Url</label
          >
          <div class="mt-2">
            <input
              v-model.trim="form.image"
              type="url"
              autocomplete="url"
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <div class="sm:col-span-3">
          <label for="description" class="block text-md font-medium leading-6 text-gray-900"
            >Description</label
          >
          <div class="mt-2">
            <textarea
              v-model.trim="form.description"
              class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>
        <button
          type="submit"
          class="sm:col-span-4 mt-2 md:w-24 block px-4 py-1 text-sm leading-5 font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600"
        >
          {{ editMode ? 'Modifier' : 'Ajouter' }}
        </button>
      </form>
      <ul class="my-1" v-if="errors.length">
        <li class="text-red-600 text-center" v-for="error in errors">
          {{ error }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    star: {
      type: Object
    }
  },
  data() {
    return {
      form: {
        firstname: '',
        lastname: '',
        description: '',
        image: ''
      },
      editMode: false,
      errors: []
    };
  },
  methods: {
    submitForm() {
      this.errors = [];
      if (!this.formIsValid()) {
        this.errors.push('Veuillez remplir tous les champs');
        return;
      }

      if (!this.editMode) {
        this.$emit('star:add', { ...this.form });
      } else {
        this.$emit('star:update', { ...this.form });
      }
    },

    initFormValues() {
      this.form = {
        id: this.star.id,
        firstname: this.star.firstname,
        lastname: this.star.lastname,
        description: this.star.description,
        image: this.star.image
      };
    },

    formIsValid() {
      if (
        this.form.firstname === '' ||
        this.form.lastname === '' ||
        this.form.description === '' ||
        this.form.image === ''
      ) {
        return false;
      }
      return true;
    }
  },
  created() {
    if (this.star) {
      this.editMode = true;
      this.initFormValues();
    }
  }
};
</script>
<style lang=""></style>
