<template>
  <div>
    <div class="flex items-center md:flex-col py-2 justify-center">
      <img class="h-44 w-44 object-contain rounded-full p-2" :src="star.image" alt="star image" />
      <h1 class="text-center text-3xl w-1/2">{{ fullname }}</h1>
    </div>
    <div class="px-4 py-8">{{ star.description }}</div>
  </div>
</template>
<script>
export default {
  props: {
    star: {
      type: Object,
      required: true
    }
  },
  computed: {
    fullname() {
      return `${this.star.firstname} ${this.star.lastname}`;
    }
  }
};
</script>
<style lang=""></style>
