<template>
  <div class="px-4 sm:px-6 lg:px-8 my-4">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Star</h1>
        <p class="mt-2 text-sm text-gray-700">
          Listing des stars actuellement renseignées dans la base de données.
        </p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button
          type="button"
          @click="$emit('open-star-form')"
          class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Ajouter une star
        </button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0"
                >
                  Firstname
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Lastname
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Image
                </th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                  Description
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              <tr v-for="star in stars" :key="star.id">
                <td
                  class="capitalize whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"
                >
                  {{ star.firstname }}
                </td>
                <td class="capitalize whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ star.lastname }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ star.image }}
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  {{ shortedDescription(star) }}
                </td>
                <td
                  class="relative whitespace-nowrap py-4 pl-3 pr-4 space-x-1 text-right text-sm font-medium sm:pr-0"
                >
                  <button
                    @click="$emit('star:edit', star)"
                    class="text-indigo-600 border border-indigo-600 rounded p-1 hover:text-white hover:bg-indigo-600"
                  >
                    Modifier
                  </button>
                  <button
                    @click="$emit('star:delete', star)"
                    class="text-red-600 border border-red-600 rounded p-1 hover:text-white hover:bg-red-600"
                  >
                    Supprimer
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    stars: {
      type: Array,
      required: true
    }
  },
  computed: {
    // A computed property that returns the first 100 characters of the description
    shortedDescription() {
      return (star) => {
        return star.description.substring(0, 100) + '...';
      };
    }
  }
};
</script>
